.justify-end{
    justify-content: flex-end;
}
.justify-content-center {
    justify-content: center;
}
.align-item-center {
    align-items: center;
}
.align-content-center {
    align-content: center;
}
.text-left{
    text-align: left;
}
