* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.show {
    display: block !important;
}
.d-none{
    display: none;
}
.justify-end{
    justify-content: flex-end;
}
.justify-content-center {
    justify-content: center;
}
.align-item-center {
    align-items: center;
}
.align-content-center {
    align-content: center;
}
.text-left{
    text-align: left;
}
.btn {
    padding: 10px 15px;
    color: #ffffff;
    border: transparent;
    border-radius: 5px;
    background-color: #F28E19;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background-color: #9e601a;
}
.link::before{
    padding: 20px 155px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
