.container {
    position: relative;
}
.nav {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}
.nav__title {
    display: flex;
    align-content: center;
    height: 50px;
    align-items: center;
    margin-left: 20px;
}
.nav__title span {
    margin-left: 10px;
}
.menu {
    list-style: none;
    padding-left: 0;
}
.menu__item {
    position: relative;
    padding: 15px 10px 15px 60px;
}
.menu__item-active {
    color: #32a4d4;
}
.menu__item:hover {
    cursor: pointer;
    color: #32a4d4;
    background-color: #F5F5F5;
}
.menu-icons {
    position: absolute;
    top: 20%;
    left: 10%;
}
.user__account {
    padding: 10px;
    display: flex;
    align-items: center;
}
.account{
    /* min-height: 40px; */
}
.user__icon{
    font-size: 30px !important;
}
.account__name {
    padding: 0 10px;
}
.main-contain {
    background-color: #F5F5F5;
    padding: 50px 0;
    position: relative;
}
.contain {
    justify-content: center;
    min-width: 900px;
    max-width: 1200px;
}
.table{ 
    margin-bottom: 50px;
    width: 100%;
    background: #fff;
    border-radius: 2px;
}
.table__content{
    width: 100%;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
    border-radius: 5px !important;
}
.table__column{
    text-align: right;
    padding: 10px
}
.table__header{
    border-bottom: 3px solid #E5E6E8;
}
.table__row{
    border-bottom: 1px solid #E5E6E8;
}
.table__item {
    text-align: right;
    padding: 10px;
}
.table__footer{
    background-color: #FAFBFB;
    font-weight: 600;
}
.form{
    flex-grow: 1;
    background-color: #ffffff;
    margin-left: 30px;
    height: 100%;

}
.form__item{
    padding: 40px;
    flex-grow: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.form__input{
    background-color: #F6F3F3;
    outline: none;
    border: none;
    margin-bottom: 30px;
    padding: 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 16px;
}
.form__btn {
    width: fit-content;
    padding: 10px 30px !important;
    margin: 0 auto;
    font-weight: 600;
    border-radius: 10px;
}
.chart {
    background-color: #ffffff;
    width: 100%;
}
.burger-icon, .close-icon {
    font-size: 30px !important;
    position: fixed;
    left: 15px;
    top: 10px;
    z-index: 1;
}
.close-icon {
    display: none !important;
}
.burger__account {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media only screen and (min-width: 415px) {
    .burger__account {
        display: none;
    }
    .burger-icon, .close-icon {
        display: none!important;
    }
}
@media screen and (max-width: 414px) {
    .burger-icon{
        display: block;
    }
    .nav {
        display: none;
        position: fixed;
        height: 100%;
        z-index: 1;
        min-width: 150px;
    }
    .nav__title {
        display: none;
    }
    .account .user__account{
        display: none;
    }
    .account .justify-end {
        justify-content: unset;
    }
    .burger__account {
        /* display: block; */
        margin-top: 50px;
    }
    .row{
        flex-direction: column;
    }
    .contain {
        min-width: unset;
        max-width: 100%;
        
    }
    .form{
        margin-left: 0;
        margin-top: 30px;
    }
    .table {
        display: none;
    }
    .menu__item{
        padding: 15px 10px 15px 40px;
    }
}