
.contain__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.search {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    outline: none;
    margin-right: 5px;
}
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
}
.pagination__item {
    padding: 10px 15px;
    background-color: #ffffff;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
}
.pagination__item:hover,
.pagi-btn:hover {
    background-color: #d3d3d3;

}
.pagination__active {
    background-color: #32a4d4;
    color: #ffffff;
}
.pagi {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagi-btn{
    padding: 3px 5px;
    background-color: #ffffff;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
    border: none;
}

.table {
    max-height: unset !important;
    overflow-y: unset !important;
}